
.bandeau {
    min-height: 150px;
    background-color:#343A40;
}


a:hover{
  text-decoration: none;
}

a:visited{
  text-decoration: none;

}
a:active{
  text-decoration: none;
}

.image{
  height: 640px;
  background-image: url("accueil.jpg");
  background-repeat: round;
}
